<%= form_for(promocao) do |f| %>
  <% if promocao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promocao.errors.count, "error") %> prohibited this promocao from being saved:</h2>

      <ul>
      <% promocao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagem %>
    <%= f.text_field :imagem %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
