<div class="container" id="showsessao">
  
  <h2 style="text-align: center;">Sessão</h2>
  
  <div class="row">
    
    <div class="col-3"><%= image_tag @sessao.filme.cartaz %></div>
    
    <div class="col">
      <h3><b>Filme: <%= @sessao.filme.nome %></b></h3>
      <br>
      <b>Cinema:</b> <%= @sessao.cinema.nome %>
      <br><br>
      <b>Início:</b> <%= @sessao.inicio %>
      <br><br>
      <b>Duração do filme: </b> <%= @sessao.filme.duracao %>
      <br><br>
      <b>Tipo:</b> <%= @sessao.tipo %>
      <br><br>
      <b>Sala:</b> <%= @sessao.sala %>
      <br><br>
      <%= link_to @sessao.filme do %>
        <div class="acesse">Ir à página do filme</div>
      <% end %>
      
    </div>
    
  </div>
  
</div>